body {
  background-color: #222;
  color: #bbb;
  user-select: none; }

.main-color {
  color: #0a8; }

.selectable::selection {
  background-color: #fff;
  color: #222; }

#container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  #container > * {
    position: fixed;
    background-origin: border-box; }
  #container div#header {
    top: 0;
    right: 0;
    bottom: calc(100% - 100px);
    left: 0;
    z-index: 2;
    border-bottom: 1px solid #777; }
  #container div#article {
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll; }
    #container div#article.blured {
      filter: blur(5px); }
  #container div#sidebar {
    top: 100px;
    right: 16px;
    bottom: 0;
    left: calc(100% - 150px - 16px);
    overflow: hidden; }
    #container div#sidebar.blured {
      filter: blur(5px); }

div#header .planes {
  height: 25px;
  display: flex;
  align-items: flex-start; }
  div#header .planes > .planes__plane-number {
    text-align: center;
    font-family: consolas, monospace;
    cursor: pointer;
    border: 1px solid #0a8;
    flex-grow: 1; }
    div#header .planes > .planes__plane-number.marked {
      background-color: #0a8;
      color: #222;
      font-weight: bold; }
      div#header .planes > .planes__plane-number.marked:before {
        content: "plane "; }
      div#header .planes > .planes__plane-number.marked + .marked:before {
        content: " and "; }

div#header .areas {
  height: 25px;
  display: flex;
  align-items: flex-start; }
  div#header .areas > .areas__area {
    text-align: center;
    font-family: consolas, monospace;
    cursor: pointer;
    border: 1px solid #0a8;
    flex-grow: 1; }

div#header > .instruns {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  div#header > .instruns > div.instruns__block {
    text-align: center; }
    div#header > .instruns > div.instruns__block > div.name-field {
      display: inline-block;
      color: #0a8; }
      div#header > .instruns > div.instruns__block > div.name-field:after {
        content: " : "; }
    div#header > .instruns > div.instruns__block > div.value-fielf {
      display: inline-block; }
      div#header > .instruns > div.instruns__block > div.value-fielf > input,
      div#header > .instruns > div.instruns__block > div.value-fielf > select {
        background-color: #222;
        color: #bbb;
        font-weight: bold;
        border: 1px solid transparent;
        border: 1px solid #777;
        padding: 5px;
        text-align: center; }
        div#header > .instruns > div.instruns__block > div.value-fielf > input::selection,
        div#header > .instruns > div.instruns__block > div.value-fielf > select::selection {
          background-color: #fff;
          color: #222; }
        div#header > .instruns > div.instruns__block > div.value-fielf > input option,
        div#header > .instruns > div.instruns__block > div.value-fielf > select option {
          text-align: center; }
          div#header > .instruns > div.instruns__block > div.value-fielf > input option::selection,
          div#header > .instruns > div.instruns__block > div.value-fielf > select option::selection {
            background-color: #fff;
            color: #222; }
      div#header > .instruns > div.instruns__block > div.value-fielf label {
        cursor: pointer; }
        div#header > .instruns > div.instruns__block > div.value-fielf label > input {
          display: none;
          user-select: text; }
        div#header > .instruns > div.instruns__block > div.value-fielf label > div, div#header > .instruns > div.instruns__block > div.value-fielf label > div > div {
          display: inline-block; }
        div#header > .instruns > div.instruns__block > div.value-fielf label > div.chb-cell {
          font-size: 1px;
          width: 15px;
          height: 15px;
          margin: 5px;
          background-color: #222;
          border: 2px solid #bbb;
          vertical-align: middle; }
          div#header > .instruns > div.instruns__block > div.value-fielf label > div.chb-cell > div.chb-cell-inner {
            margin-top: -12px;
            font-size: 27px;
            color: transparent;
            font-weight: bold; }
            div#header > .instruns > div.instruns__block > div.value-fielf label > div.chb-cell > div.chb-cell-inner:before {
              content: "\2713"; }
        div#header > .instruns > div.instruns__block > div.value-fielf label > input:checked + div.chb-cell > div.chb-cell-inner {
          color: #99f;
          color: #0a8; }
        div#header > .instruns > div.instruns__block > div.value-fielf label > div.caption {
          margin-right: 10px; }
      div#header > .instruns > div.instruns__block > div.value-fielf div.relatve-base {
        position: relative;
        height: 0; }
        div#header > .instruns > div.instruns__block > div.value-fielf div.relatve-base > div.drop-down-list-frame {
          display: none;
          position: absolute;
          right: 0;
          padding: 10px 0;
          border: 1px solid #0a8;
          background-color: #222;
          text-align: left; }
          div#header > .instruns > div.instruns__block > div.value-fielf div.relatve-base > div.drop-down-list-frame > div.set-font-list-item {
            cursor: pointer;
            padding: 0 10px;
            padding-left: 20px; }
            div#header > .instruns > div.instruns__block > div.value-fielf div.relatve-base > div.drop-down-list-frame > div.set-font-list-item.typical {
              padding-left: 10px;
              font-size: 1.2em;
              font-style: italic; }
            div#header > .instruns > div.instruns__block > div.value-fielf div.relatve-base > div.drop-down-list-frame > div.set-font-list-item:hover {
              background-color: #555; }
      div#header > .instruns > div.instruns__block > div.value-fielf:hover div.relatve-base > div.drop-down-list-frame {
        display: block; }
  div#header > .instruns #favorites {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer; }
    div#header > .instruns #favorites:hover {
      color: #0a8;
      text-shadow: 0 0 10px #f00, 0 0 10px #f00, 0 0 10px #f00, 0 0 10px #f00, 0 0 10px #f00; }

div.symbol-cell {
  text-align: center;
  display: table-cell;
  position: relative;
  border: 1px solid transparent;
  margin: 0; }
  div.symbol-cell > div.flex-wr {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end; }
    div.symbol-cell > div.flex-wr > div.symbol-wr {
      align-self: center;
      font-size: 40px;
      color: #0a8;
      margin: 5px;
      cursor: pointer;
      display: inline-block;
      border: 1px solid transparent;
      transition: all .2s;
      position: relative; }
      div.symbol-cell > div.flex-wr > div.symbol-wr * {
        display: inline-block; }
      div.symbol-cell > div.flex-wr > div.symbol-wr > div.b-line-wr > div.b-line {
        position: absolute;
        height: 0;
        left: -10px;
        right: -10px;
        border-bottom: 1px solid transparent; }
      div.symbol-cell > div.flex-wr > div.symbol-wr > div.symbol {
        position: relative;
        white-space: pre;
        user-select: text; }
        div.symbol-cell > div.flex-wr > div.symbol-wr > div.symbol::selection {
          background-color: #fff;
          color: #222; }
    div.symbol-cell > div.flex-wr > div.entity, div.symbol-cell > div.flex-wr > div.unicode-js-str {
      font-size: 16px;
      cursor: pointer;
      color: #99f;
      user-select: text; }
      div.symbol-cell > div.flex-wr > div.entity::selection, div.symbol-cell > div.flex-wr > div.unicode-js-str::selection {
        background-color: #fff;
        color: #000; }
      div.symbol-cell > div.flex-wr > div.entity > span, div.symbol-cell > div.flex-wr > div.unicode-js-str > span {
        color: #eee;
        padding-left: 3px;
        padding-right: 3px; }
        div.symbol-cell > div.flex-wr > div.entity > span::selection, div.symbol-cell > div.flex-wr > div.unicode-js-str > span::selection {
          background-color: #fff;
          color: #000; }
    div.symbol-cell > div.flex-wr .open-btn {
      position: absolute;
      top: 0;
      right: 0;
      border: 2px solid transparent;
      color: transparent;
      border-radius: 10px;
      cursor: pointer;
      user-select: none; }
  div.symbol-cell:hover {
    position: relative;
    z-index: 10;
    background-color: #222; }
    div.symbol-cell:hover > div.flex-wr > div.symbol-wr {
      border-color: #777;
      box-shadow: 0 0 10px #777; }
      div.symbol-cell:hover > div.flex-wr > div.symbol-wr > div.b-line-wr > div.b-line {
        border-color: #777; }
    div.symbol-cell:hover > div.flex-wr .open-btn {
      border-color: #555;
      color: #fff; }
      div.symbol-cell:hover > div.flex-wr .open-btn:active {
        color: #f00;
        color: #000;
        background-color: #777; }

.symbol-row {
  display: table-row;
  display: flex;
  justify-content: space-around;
  margin-right: 166px; }

div.block-num-line {
  font-family: consolas, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #bbb;
  text-align: center;
  cursor: pointer; }
  div.block-num-line span.xx {
    opacity: .5;
    font-weight: bold; }
  div.block-num-line.marked {
    color: #0a8; }

.smw {
  display: none; }
  .smw.visible {
    display: block; }
  .smw .smw__glass-cower {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    white-space: nowrap;
    overflow: auto; }
    .smw .smw__glass-cower:before {
      content: "";
      vertical-align: middle;
      display: inline-block;
      height: 100%; }
    .smw .smw__glass-cower > .smw__frame {
      background-color: #222;
      box-shadow: 0 0 10px #777;
      vertical-align: middle;
      display: inline-block; }
      .smw .smw__glass-cower > .smw__frame > .smw__header {
        text-align: right;
        text-align: center;
        margin: 5px; }
        .smw .smw__glass-cower > .smw__frame > .smw__header > .btn-div {
          display: inline-block;
          cursor: pointer;
          padding: 3px; }
          .smw .smw__glass-cower > .smw__frame > .smw__header > .btn-div:hover {
            box-shadow: inset 0 0 2px #bbb, 0 0 2px #bbb; }
          .smw .smw__glass-cower > .smw__frame > .smw__header > .btn-div:active {
            background-color: #aaa; }
          .smw .smw__glass-cower > .smw__frame > .smw__header > .btn-div > svg {
            vertical-align: bottom; }
        .smw .smw__glass-cower > .smw__frame > .smw__header > .btn-div.smw__close-btn {
          float: right; }
      .smw .smw__glass-cower > .smw__frame > .smw__body > * {
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
        margin: 30px 50px; }
      .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__symbol-site {
        position: relative; }
        .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__symbol-site .str-line-wr {
          width: 0;
          display: inline-block; }
          .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__symbol-site .str-line-wr > .str-line {
            position: absolute;
            height: 0;
            left: -10px;
            right: -10px;
            border-bottom: 1px solid #777; }
        .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__symbol-site .smw__standard-character {
          font-size: 200px;
          display: inline-block;
          color: #555;
          color: transparent;
          width: 0; }
          .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__symbol-site .smw__standard-character > .swm-top-line-wr.str-line-wr {
            margin-top: -1px;
            vertical-align: top; }
          .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__symbol-site .smw__standard-character > .swm-base-line-wr.str-line-wr {
            vertical-align: baseline; }
            .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__symbol-site .smw__standard-character > .swm-base-line-wr.str-line-wr > .swm-base-line.str-line {
              left: -30px;
              right: -30px; }
          .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__symbol-site .smw__standard-character > .swm-bottom-line-wr.str-line-wr {
            vertical-align: bottom; }
        .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__symbol-site > .swm-symbol-border {
          border: 1px dashed #777;
          display: inline-block; }
          .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__symbol-site > .swm-symbol-border > .smw__symbol {
            white-space: pre;
            font-size: 200px;
            text-align: center;
            color: #0a8;
            cursor: pointer;
            user-select: text; }
            .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__symbol-site > .swm-symbol-border > .smw__symbol::selection {
              background-color: #fff;
              color: #222; }
        .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__symbol-site > .smw__symbol-controls-expander {
          min-width: 1em;
          font-size: 200px; }
      .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__features-site {
        position: relative; }
        .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__features-site table {
          padding: 10px; }
          .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__features-site table > tbody > tr > td {
            padding: 1px 10px; }
            .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__features-site table > tbody > tr > td:nth-child(1) {
              text-align: right;
              color: #0a8; }
            .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__features-site table > tbody > tr > td:nth-child(2) {
              text-align: left;
              cursor: pointer;
              font-family: consolas;
              user-select: text; }
              .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__features-site table > tbody > tr > td:nth-child(2)::selection {
                background-color: #fff;
                color: #222; }
              .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__features-site table > tbody > tr > td:nth-child(2) > .byte {
                padding: 3px; }
                .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__features-site table > tbody > tr > td:nth-child(2) > .byte > .data-bit {
                  text-decoration: underline #0a8; }
                .smw .smw__glass-cower > .smw__frame > .smw__body > .smw__features-site table > tbody > tr > td:nth-child(2) > .byte > .sp-bit {
                  text-decoration: underline #f77; }

/*# sourceMappingURL=style.css.map */